:root {
    --colorFondo: rgb(20, 20, 20);
    --colorDestaco: rgb(0, 0, 0);
    --sombraWhite:5px 5px 15px rgb(255, 255, 255); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}


/* Acerca de  */
.descripcion{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

}
.descripcion div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: auto;
    row-gap: 30px;
    background-color: var(--colorDestaco);
    padding: 15px;
    margin-top: 100px;
    border-radius: 20px;
    animation: brillo 5s infinite;
    
}

@media screen and (max-width: 768px) {
    .descripcion div{
        width: 80%;
    }
    
}