:root {
    --colorFondo: rgb(20, 20, 20);
    --colorDestaco: rgb(0, 0, 0);
    --sombraWhite:5px 5px 15px rgb(255, 255, 255); 
}

/* Acerca de  */
.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.descripcion div{
    animation: brillo 5s infinite;
    text-align: center;
    background-color: var(--colorDestaco);
    width: 40%;
    padding: 15px;
    margin: 150px 10px 10px 10px;
    border-radius: 20px;
}
.descripcion .mision{
    margin-top: 25px;
}



@media screen and (max-width: 768px) {
    .descripcion div{
        width: 80%;
        margin: 100px 10px 10px 10px;
    }
    
}
@media screen and (min-width:768px) {
    .descripcion .mision{
        margin-top: 150px;

    }
    
}