:root {
    --colorFondo: rgb(5, 100, 84);
    --colorDestaco: rgb(34, 147, 128);
    --sombraWhite: 5px 5px 15px rgb(255, 255, 255);
}

/* Acerca de  */
.descripcion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;

}
.descripcion div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    gap: 10px;
    padding: 30px;
    
}
.descripcion p{
    padding: 10px;
    background-color: var(--colorDestaco);
    border-radius: 20px;
    text-align: justify;
}


