:root {
    --colorFondo: rgb(5, 100, 84);
    --colorDestaco: rgb(34, 147, 128);
    --sombraWhite: 5px 5px 15px rgb(255, 255, 255);
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 30px;
    row-gap: 10px;
}
.card img{
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.card button{
    width: 30%;
    height: 30px;
    background-color: var(--colorDestaco);
    border:none;
    cursor: pointer;
}
.card button:hover{
    transform: scale(1.3);
    background-color: var(--colorFondo);
    border:1px solid var(--colorDestaco)
}