:root {
    --colorFondo: rgb(5, 100, 84);
    --colorDestaco: rgb(34, 147, 128);
    --sombraWhite: 5px 5px 15px rgb(255, 255, 255);
}

.losProyectos {
    text-align: center;
    margin-top: 70px;
    animation: colorido .8s infinite;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 80px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    margin:10px 5px 10px 5px;
    row-gap: 10px;
    background-color: var(--colorDestaco);
    padding: 10px;
    border-radius: 20px;
}

.card img {
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.card button {
    width: 30%;
    height: 30px;
    background-color: var(--colorFondo);
    border: none;
    cursor: pointer;
}

.card button:hover {
    transform: scale(1.3);
}

@keyframes colorido {
    0% {
        color: var(--colorDestaco);
    }

    100% {
        color: white;
    }
}