:root {
    --colorFondo: rgb(20, 20, 20);
    --colorDestaco: rgb(0, 0, 0);
    --sombraWhite: 5px 5px 15px rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background-color: var(--colorFondo);
    width: 100%;
    height: 100%;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    background-color: var(--colorDestaco);
    z-index: 1;
}

.navbar span img {
    width: 100px;
    height: 60px;
    object-fit: contain;


}

.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 700px;
    align-self: center;
    margin-right: 20px;

}

.navbar ul li {
    list-style: none;


}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar ul li a {
    text-decoration: none;
    border-radius: 20px;
    background-color: red;
    padding: 8px;
    font-size: 20px;
}

.navbar ul li a:hover {
    background-color: green;

}

.icon-menu {
    width: 100px;
    height: 60px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* aqui estara el menu desplegado para el mobile */

.menuMobile {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 60px;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 2;
}

.menuMobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--colorDestaco);
    padding: 8px;
}

.menuMobile ul li {
    margin: 3px;
}

.menuMobile a {
    font-size: 30px;
    border: dashed white 1px;
    background-color: red;
}

.menuMobile a:hover {
    background-color: green;
}

.inactive {
    display: none;
}

/* aqui empieza el Contenido principal */
#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */

}

#container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 80px 10px 10px 10px;
    gap: 10px;
    padding: 30px;
}

#container img {
    width: 150px;
    height: auto;
    border-radius: 20%;
    object-fit: cover;
}

#container h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

#container p {
    width: 80%;
    padding: 8px;
    background-color: var(--colorDestaco);
    border-radius: 20px;
    text-align: justify;
    animation: brillo 5s infinite;
}


/* aqui estan las tecnologias  */

#tecno {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    margin: 100px 10px 200px 10px;
}

#tecno img {
    position: relative;
    animation: moveUpDown 5s infinite;
    margin-bottom: 40px;
    margin-top: 80px;
    border-radius: 0px;
}

#tecno img:hover {
    transform: scale(1.7);
}



footer {
    display: flex;
    flex-direction: column;
    background-color: var(--colorDestaco);
    position:fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.social-Media {
    display: flex;
    justify-content: center;
    text-align: center;
}
.social-Media ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 80%;
    animation: creceer 2s infinite;
    padding-top: 5px;
}
.social-Media li{
    margin: 20px 20px 0px 20px;
}
footer div:nth-child(2){
    text-align: center;
    margin-bottom: 10px;
}

.social-Media:hover ul {
    animation-play-state: paused;
    /* Pausar la animación cuando el cursor está sobre el carrusel */
}

/* estas son las animaciones */
@keyframes moveUpDown {
    0% {
        left: -80px;
        /* Posición inicial (arriba) */
    }
    50% {
        left:80px;
        /* Posición intermedia (abajo) */
    }

    100% {
        left: -80px;
        /* Posición final (arriba) */
    }
    
}

@keyframes brillo {
    0% {
        box-shadow: var(--sombraWhite);
        /* Posición inicial (arriba) */
    }

    50% {
        box-shadow: 5px 5px 100px red;
        /* Posición intermedia (abajo) */
    }

    100% {
        box-shadow: var(--sombraWhite);
        /* Posición final (arriba) */
    }
}

@keyframes creceer {
    0%{
        transform: scale(1.3);
    }
}

.social-Media img {
    width: 40px;
}

.social-Media li:nth-child(1) {
    background-color: white;
    border-radius: 70%;
}



/* Aqui estaran los mediaQuery */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    #container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
    
    }
}


@media screen and (min-width: 768px) {

    /* este media quiere decir que si pasa de esa resolucion se activara el codigo */
    .icon-menu {
        display: none;
    }

    .menuMobile {
        display: none;
    }


}