:root {
    --colorFondo: #083b85;
    --colorDestaco:#3478de;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background-color:  #083b85;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
}

p {
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color:var(--colorDestaco);
    z-index: 1;
    align-items: center;
}

.navbar img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-color: white;
    border-radius: 50px;
    margin: 3px;
}
.navbar h2 {
    border-bottom: 3px solid white;
}

.fotoPerfil{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.fotoPerfil img{
    border-radius: 50%;
    border: 2px solid white;
}
.contenedor{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}
.links li{
    margin-top: 30px;
}

.links li a{
    font-size: 30px;
    background-color: var(--colorDestaco);
    border-radius: 20px;
    padding: 5px;
}




footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: var(--colorDestaco);

}

.social-Media {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.social-Media ul {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
}

footer h3 {
    text-align: center;
    font-size: 12px;
}

.social-Media img {
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}





