:root {
    --colorFondo: rgb(5, 100, 84);
    --colorDestaco: rgb(34, 147, 128);
    --sombraWhite: 5px 5px 15px rgb(255, 255, 255);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background-image: url(./assets/imagens/Aifondo.svg);
    background-repeat: repeat-y; /* Evita que la imagen se repita */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    height: 100vh;

}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    background: transparent;
    backdrop-filter: blur(12px);
    z-index: 1;
}

.navbar img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.285);
    border-radius: 50px;
    
    


}

.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 85%;
    align-self: center;
}

.navbar ul li {
    list-style: none;


}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar ul li a {
    text-decoration: none;
    border-radius: 20px;
    padding: 8px;
    font-size: 20px;
}



.icon-menu {
    width: 100px;
    height: 60px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* aqui estara el menu desplegado para el mobile */

.menuMobile {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 60px;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 2;
}

.menuMobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 8px;
}

.menuMobile ul li {
    margin: 3px;
}

.menuMobile a {
    font-size: 30px;
}



.inactive {
    display: none;
}

/* aqui empieza el Contenido principal */
#container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}

#container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:  320px;
    max-width: 400px;
    gap: 10px;
    padding: 30px;
}

.fotoPeril{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px dotted white;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
}

p {
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-align: justify;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
}


/* aqui estan las tecnologias  */

#tecno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 400px;
    gap: 10px;
    padding: 30px;

}

#tecno img {
    width: 150px;
    height: 150px;
    border-radius: 0px;
    margin-top: 40px;
    object-fit: contain;
}


#tecno img:hover {
    transform: scale(1.7);
}

/* la descricion de mision y vision  */
.descripcion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;

}
.descripcion div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    gap: 10px;
    padding: 30px;
    
}



footer {
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(12px);
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    border-top: 1px solid white;

}

.social-Media {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.social-Media ul {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
}

footer div:nth-child(2) {
    text-align: center;
    font-size: 12px;
}

.social-Media img {
    width: 30px;
}







/* Aqui estaran los mediaQuery */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

}


@media screen and (min-width: 769px) {

    /* este media quiere decir que si pasa de esa resolucion se activara el codigo */
    .icon-menu {
        display: none;
    }

    .menuMobile {
        display: none;
    }


}